/.gradle/

\.project

\.settings/org\.eclipse\.buildship\.core\.prefs

algoExpert/algoExpert/\.classpath

algoExpert/algoExpert/\.settings/org\.eclipse\.buildship\.core\.prefs

ClassicProblems/\.classpath

ClassicProblems/\.settings/org\.eclipse\.buildship\.core\.prefs

ClassicProblems/\.settings/org\.eclipse\.jdt\.core\.prefs

*.class

algoExpert/\.classpath

algoExpert/\.settings/org\.eclipse\.buildship\.core\.prefs
